@import "bootstrap";

.navbar {
  background-color: white;
  box-shadow: 4px 4px 5px grey;
  align-items: center;
  flex-direction: row;
  margin-bottom:10px;
  color: #125688;
  font-size: 30px;
  font-family: 'Pacifico', cursive;

}

body {
   background-image: image-url("funky-lines.png");

}

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin: 20px;
  padding: 10px;
  width: 25%;
  font-weight: bold;
}

.topline{
  border-top: 1px solid grey;
  padding: 5px;
  margin: 5px;
}

.links{
  float: right;
}

.bio{
  margin-bottom: 50px;
}

h1 h2{
  color: #125688;
}