<body>
<div class="middle">
  <div class="bio">
    <h1>Hello!</h1>
    <p>My name is Alex Joiner and I am a web developer.<br/> I'm currently making one website everyday for the next hundred days!
    </p>
  </div>
  <p class ="toplinelong"></p>
  <h2>My Websites!</h2>
  <div class="card offset-3">
    <% @sites.each do |site|%>
      <div class="booyah-box">
        <%= site.day %>
        <%= link_to site.name, "http://#{site.address}" %>
        <br />
        <p class ="topline">
          <%= site.description %>
        </p>
      </div>
    <% end %> 
  </div>
  <clear/>
  <p class ="toplinelong"></p>
  </div>
  </body>
  <div class="footer">
    <h2 class="">My skills!</h2>
    <p><%= image_tag 'skills.png' %></p>
  </div>
</div>
